{% extends "baseback.html.twig" %}

{% block admin_content %}
    <h3>Bienvenue dans le Back-Office</h3>
    <p>Utilisez le menu pour gérer les formations, playlists et catégories.</p>
{% endblock %}
